@import 'utils/variables';
@import 'utils/mixins';

@import 'themes/theme';

@import 'base/reset';
@import 'base/typography';

@import 'layout/navigation';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/forms';

@import 'components/buttons';
@import 'components/dropdown';
@import 'components/modal';

@import 'pages/home';
@import 'pages/product';
@import 'pages/basket';
@import 'pages/validate';
@import 'pages/success';