main#basket {
    button {
        width: 180px;
        margin-bottom: 50px;
        a {
            @include displayFlex(row, center, center);
            height: 100%;
            width: 100%;
            i {
                margin-right: 8px;
            }
        }
    }
    .basketWrapper {

        .container {
            margin-top: 0;
    
            h2 {
                margin: 15px 0 25px 15px;
            }
            .product-order {
                @include displayFlex(row, false, center);
                margin: 15px;
                height: 140px;
                background-color: #fff;
                padding: 20px;
                border-radius: 10px;
                color: $darkGrey;
            
                picture {
                    img {
                        width: auto;
                        height: 100px;
                    }
                }
            
                div.side {
                    @include displayFlex(column, space-between, flex-start);
                    width: 100%;
                    height: 100%;
                    padding: 0 0 5px 30px;
            
                    p {
                        @include font(12px, 500)
                    }
            
                    .product-header {
                        @include displayFlex(row, space-between, center);
                        width: 100%;
            
                        h3 {
                            
                            a {
                                color: $blue;
                                text-decoration: none;
                            }
                        }
            
                        p.delete {
                            @include displayFlex(row, false, center);
                            font-weight: 700;
                            cursor: pointer;
            
                            i {
                                @include font(16px, 500);
                                margin-right: 5px;
                            }
                        }
                    }
            
                    p.description {
                        margin-top: 10px;
                    }
            
                    .product-footer {
                        @include displayFlex(row, space-between, flex-end);
                        flex: 1;
                        width: 100%;
            
                        div.choice {
                            @include displayFlex(row, flex-start, flex-end);
                            flex: 1;
            
                            p {
                                margin-right: 5px;
            
                                &:nth-child(1) {
                                    font-weight: 700;
                                }
                            }
            
                            .modify {
                                position: relative;
            
                                button {
                                    background-color: transparent;
                                    color: $blue;
                                    margin-left: 15px;
                                    height: unset;
                                    width: unset;
                                }
            
                                .modifyChoice {
                                    position: absolute;
                                    visibility: hidden;
                                    top: -20px;
                                    right: -20px;
                                    transform: translateX(100%);
                                    background-color: #fff;
                                    border-radius: 5px;
                                    z-index: 1000;
                                    padding: 10px;
                                    width: 200px;
                                    height: 150px;
                                    box-shadow: 0 0 5px 2px #dadada;
                                    @include displayFlex(column, space-evenly, center);
            
                                    .validate {
                                        @include displayFlex(row, space-around, center);
                                    }
                                    &.visible {
                                        visibility: visible;
                                    }
            
                                    p {
                                        @include font(12px, 700);
                                        align-self: flex-start;
                                    }
            
                                    i {
                                        position: absolute;
                                        cursor: pointer;
                                        top: 10px;
                                        right: 10px;
                                    }
            
                                    select {
                                        margin-left: 0;
                                        width: 100%;
                                    }
            
                                    button {
                                        margin-left: 0 !important;
                                    }
            
                                }
                            }
            
                        }
            
                        .total {
                            @include displayFlex(row, flex-end, center);
                            flex: 2;
            
                            p.totalValue {
                                @include font(14px, 700);
                                background-color: $blue;
                                color: $lightGrey;
                                border-radius: 5px;
                                padding: 5px 15px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    
    .basket_bottom {
        @include displayFlex(column, false, flex-start);
        margin-bottom: 50px;
        h1 {
            margin: 0;
        }
        .container {
            width: 100%;
            button {
                margin-left: 20px;
            }
        }
        
    }
}

