main#home{
    .container:nth-child(2){
        margin-top: 0;
    }
}

.containerHeader {
    @include displayFlex(row, space-between, center);
    width: 100%;
    padding: 15px;

    a {
        @include font(14px, 500);
        text-decoration: none;
        color: $blue;
    }
}

.wrapper {
    @include displayFlex(row, space-between);
    flex-wrap: wrap;

    .article {
        @include transition;
        @include displayFlex(row, space-between);
        flex-direction: column;
        margin: 15px;
        flex: 1;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        color: $darkGrey;

        img {
            width: auto;
            height: 140px;
            object-fit: cover;
        }

        div.title {
            @include displayFlex(row, space-between, center);
            margin-top: 10px;
            height: 40px;
        }


        button {
            margin-top: 20px;
            width: 100%;

            a {
                @include displayFlex(row, center, center);
                position: relative;
                text-decoration: none;
                width: 100%;
                color: #fff;
                padding: 15px;

                &:after {
                    @include transition;
                    @include font(14px, 700);
                    opacity: 0;
                    content: "\f35a";
                    position: absolute;
                    color: #fff;
                    transform: translateX(30px);
                }

                &:hover:after {
                    transform: translateX(40px);
                    opacity: 1;
                }
            }


        }

        &:hover {
            box-shadow: 0 0 8px 3px #d1d1d1;
            transform: scale(1.01);
        }
    }
}