.containerHeader a{
        text-decoration: none;
        color: $blue;

        font: {
            size: 14px;
            weight: 500;
        }
}

.wrapper {
    @include displayFlex(row, space-between);
    flex-wrap: wrap;

    .article {
        @include transition;
        @include displayFlex(row, space-between);
        flex-direction: column;
        margin: 15px;
        flex: 1;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        color: $darkGrey;

        img {
            width: auto;
            height: 160px;
            object-fit: cover;
        }

        div.title {
            @include displayFlex(row, space-between, flex-start);
            margin-top: 10px;
            height: 40px;
        }

        div.legende {
            margin-top: 10px;
            flex: 1;

            p {
                font-size: 14px;
                font-weight: 500;

                &:nth-child(1) {
                    font-weight: 700;
                }

            }
        }



        button.buttonLink {
            margin-top: 20px;

            a {
                @include displayFlex(row, center, center);
                position: relative;
                text-decoration: none;
                width: 100%;
                color: #fff;
                padding: 15px;

                font: {
                    size: 14px;
                    weight: 700;
                }

                &:before {
                    @include transition;
                    opacity: 0;
                    content: "\f35a";
                    position: absolute;
                    color: #fff;
                    transform: translateX(30px);

                    font: {
                        family: "Font Awesome 5 Free";
                        size: 16px;
                        weight: 700;
                    }
                }

                &:hover:before {
                    transform: translateX(45px);
                    opacity: 1;
                }
            }


        }

        &:hover {
            box-shadow: 0 0 8px 3px #d1d1d1;
            transform: scale(1.01);
        }
    }
}