.produit {
    @include transition;
    @include displayFlex(false, false, false);
    height: 370px;
    margin: 15px;
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    color: $darkGrey;

    picture {
        img {
            width: auto;
            height: 330px;
        }
    }


    div.side {
        @include displayFlex(column, space-between, flex-start);
        padding: 10px 100px 10px 50px;
    }


}