.produit {
    @include displayFlex(false, false, false);
    margin: 15px;
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    color: $darkGrey;

    picture {
        img {
            width: auto;
            height: 250px;
        }
    }

    div.side {
        @include displayFlex(column, space-between, flex-start);
        padding: 10px 100px 10px 50px;
        .sideHeader {
            @include displayFlex(row, space-between, center);
            .price {
                margin-left: 20px;
            }
        }
        p.description{
            @include font(12px, 500);
        }
        .selection{
            @include displayFlex(row, space-between, center);
            width: 70%;
            label {
                @include font(12px, 700);
            }
        }
    }
}