footer {
    @include displayFlex(column, false, center);
    padding: $mainPadding;
     box-shadow: 0 0 8px 3px #d1d1d1;
    background-color: $lightPurple;
    .wrapper {
        @include displayFlex(row, space-between, false);
        padding: $mainPadding;
        margin: 60px 0;
        width: 100%;
        div {
            @include displayFlex(column, false, false);
            &>* {
                color: $darkGrey;
            }
                
            h3 {
                margin-bottom: 10px;
            }
            a {
                @include font(12px, 500);
                margin: 7px 0;
                text-decoration: none;
            }
        }
    }
    .social {
        @include displayFlex(false, false, false);
        a {
            @include displayFlex(false, false, false);
            margin: 30px;
            text-decoration: none;
            i {
                @include font(35px, 500);
                color: $darkPurple;
            }
        }
    }
    img {
        margin: 20px;
        height: 50px;
        width: auto;
    }
}