header {
    @include displayFlex(row, space-between, center);
    padding: $mainPadding;
    width: 100%;
    height: $headerHeight;
    box-shadow: 0 0 8px 3px #d1d1d1;
    background-color: $lightPurple;

    a#logo {
        @include displayFlex(false, false, false);
        img {
            height: 70px;
            width: auto;
        }
    }
}