nav {
    @include displayFlex(false, false, false);

    &>* {
        @include displayFlex(row, false, center);
        color: $darkGrey;
        margin: 0 25px;
    }

    i {
        font-size: 20px;
        margin-right: 10px;
    }

    a {
        position: relative;
        text-decoration: none;
        padding: 10px 0;

        font: {
            size: 16px;
            weight: 600;
        }

        &:after {
            @include transition;
            position: absolute;
            left: 0;
            bottom: 0;
            content: "";
            width: 0;
            height: 2px;
            background-color: $darkGrey;
        }

        &:hover:after {
            width: 100%;
        }
    }

    .panier {
        position: relative;

        .total {
            @include transition;
            @include displayFlex(false, center, center);
            position: absolute;
            top: 0;
            left: -10px;
            width: 20px;
            height: 20px;
            background-color: red;
            transform: scale(0);
            border-radius: 50%;
            color: #fff;
            font: {
                size: 12px;
                weight: 700;
            }
            &.isFilled {
                transform: scale(1);
            }
        }
        
    }
}