button {
    @include displayFlex(row, center , center);
    @include font(12px, 700);
    background-color: $blue;
    border: none;
    border-radius: 5px;
    color: #fff;
    height: 40px;
    cursor: pointer;
    &.order{
        width: 200px;
    
            &:after {
                @include transition;
                @include font(14px, 700);
                opacity: 0;
                content: "\f218";
                position: absolute;
                color: #fff;
                transform: translateX(40px);
            }
    
            &:hover:after {
                transform: translateX(60px);
                opacity: 1;
            }
    
            &[disabled]{
                cursor: default;
                background-color: $lightBlue;
                &:after {
                    display: none;
                }
            }
    }

    &.baksetButton {
        @include displayFlex(row, center , center);
        width: 150px;
        i {
            @include font(14px, 700);
            margin-right: 10px;
        }
    }
    
    &.clear {
        @include font(12px, 500);
        background-color: $red;
    }
    &.validate {
        a {
            @include displayFlex(row, center , center);
            height: 100%;
            width: 100%;
            text-decoration: none;
            color: #fff;
        }
        background-color: $green;
    }
    &:after, & a:after{
        font: {
            family:"Font Awesome 5 Free";
        }
    }
}

p.price {
    @include font(12px, 700);
    background-color: $darkPurple;
    border-radius: 5px;
    padding: 5px 15px;
    color: #fff;
    white-space: nowrap;
}
