button {
    @include displayFlex(row, center , center);
    @include font(12px, 700);
    background-color: $blue;
    border: none;
    border-radius: 5px;
    color: #fff;
    height: 40px;
    cursor: pointer;
    a {
        text-decoration: none;
            color: #fff;
    }
    &.details {
        margin-top: 20px;
        width: 100%;
    
        a {
            @include displayFlex(row, center, center);
            position: relative;
            width: 100%;
            padding: 15px;
    
            &:before {
                @include font(14px, 700);
                content: "\f05a";
                color: #fff;
                transform: translateX(-5px);
            }
        }
    }

    &.order{
        width: 200px;
    
            &:before {
                @include font(14px, 700);
                content: "\f218";
                color: #fff;
                transform: translateX(-5px);
            }
    
            &[disabled]{
                cursor: default;
                background-color: $lightBlue;
                &:after {
                    display: none;
                }
            }
    }

    &.baksetButton {
        @include displayFlex(row, center , center);
        width: 150px;
        i {
            @include font(14px, 700);
            margin-right: 10px;
        }
    }
    
    &.clear {
        @include font(12px, 500);
        background-color: $red;
    }
    &.validate {
        width: 190px;
        a {
            @include displayFlex(row, center , center);
            height: 100%;
            width: 100%;
            text-decoration: none;
            color: #fff;
        }
        background-color: $green;
    }
    &:after, & a:after, &:before, & a:before{
        font: {
            family:"Font Awesome 5 Free";
        }
    }

}

p.price {
    @include font(12px, 700);
    background-color: $darkPurple;
    border-radius: 5px;
    padding: 5px 15px;
    color: #fff;
    white-space: nowrap;
}
