ul {
    @include transition;
    @include boxShadow;
    @include displayFlex(column, false, flex-start);
    position: absolute;
    visibility: hidden;
    background-color: #fff;
    cursor: default;
    z-index: 500;
    border-radius: 10px;
    opacity: 0;
    transform-origin: top;
    bottom:-10px;
    right: 0;
    transform: translateY(100%) scaleY(0);
    li {
        @include transition;
        list-style: none;
        white-space: nowrap;
        margin: 20px;
        transition-delay: 0.2s;
        opacity: 0;
        a {
            color: $darkGrey;
            padding-bottom: 5px;
        }
    }
}
.toggleNavigation {
    opacity: 1;
    visibility: visible;
    transform: translateY(100%) scaleY(1);
    li {
        opacity: 1;
    }
}

.toggleLink {
        &:after {
            width: 100%;
        }
}
label{
    @include displayFlex(row, false, center);
    position: relative;
    padding-right: 15px;
}
select {
    border-color:$darkGrey;
    margin-left: 15px;
    border-radius: 5px;
    padding: 5px;
    // appearance:none;
}