main {
    padding: $mainPadding;

    .container {
        position: relative;
        padding: 15px;
        margin: 50px 0;
        border-radius: 10px;
        background-color: $lightGrey;

        .containerHeader {
            @include displayFlex(row, space-between, center);
            width: 100%;
            padding: 15px;
        }
    }
}